<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.estore.dao.ICustomerDao">

	<insert id="saveCustomer" parameterType="Customer">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select my_seq.nextval from dual
		</selectKey>
		insert into tbl_customer(id,name,password,zip,address,telephone,email) 
		values(#{id},#{name},#{password},#{zip},#{address},#{telephone},#{email})
	</insert>

	<select id="findByName" parameterType="String" resultType="Customer">
		select id,name,password,zip,address,telephone,email from tbl_customer where name=#{name}
	</select>
</mapper>			